<div style="text-align: center;">
  <h2>Edit Opportunity</h2>

  <div style="max-width: 600px; margin: 0 auto;" *ngIf="info">
    <h3>Description:</h3>
    <div style="margin-bottom: 20px;">
      <textarea type="text" style="height: 18ch; width:100%;" class="form-control" id="email" required
        [(ngModel)]="info!.description" name="description"></textarea>
    </div>

    <h3>Keywords:</h3>
    <div style="margin-bottom: 20px;">
      <input type="text" class="form-control" id="password" required [(ngModel)]="info!.keywords" name="keywords"
        style="width: 100%;">
    </div>

    <div style="margin-bottom: 20px;">
      <mat-form-field>
        <input class="form-control" required [(ngModel)]="info!.date" matInput [matDatepicker]="picker"
          placeholder="Choose a date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month"></mat-datepicker>
      </mat-form-field>
    </div>

    <button class="submit-cp-button" (click)="submitEdits()">Submit</button>
    <button class="delete-cp-button" (click)="deleteOpportunity()">Delete</button>
  </div>

  <hr />
</div>

<h2>Students signed up</h2>
<div style="padding-right: 10%;padding-left: 34%; padding-bottom: 10%">
  <table>
    <tr>
      <th *ngFor="let data of this.students[0] | keyvalue">
        {{ data.key.replace("_"," ") }}
      </th>
    </tr>

    <tr *ngFor="let data of this.students" routerLinkActive="active">
      <td *ngFor="let info of data | keyvalue">
        {{ info.value }}
      </td>
    </tr>
  </table>
</div>
