
xavier_portal/portal/__pycache__
xavier_portal/portal/migrations/__pycache__
xavier_portal/xavier_portal/__pycache__
xavier_portal/db.sqlite3
xavier_portal/env
serve
frontend/XavierPortal/package-lock.json
frontend/XavierPortal/out
.vscode
frontend/.DS_Store
xavier_portal/.vscode

backendGo/app/xavier_portal
backendGo/app/xavier_portal.sqlite3
backendGo/app.code-workspace
