<div class="navbar-dark" style="text-align: center">
  <button (click)="section='my_opportunities'">my opportunities</button>


  <button (click)="section='new_opportunity'">
    create new opportunity
  </button>
  <div *ngIf="section=='new_opportunity'">
    <div style="display: flex; justify-content:center;">
      <app-community-partner-opportunity-creation-form [id]="form"
        (updateMyOpportunities)="this.getOpportunitiesByPartnerID()"></app-community-partner-opportunity-creation-form>
    </div>
  </div>


  <div *ngIf="section=='my_opportunities'" style="padding-left:20%;padding-right:20%">

    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="My Opportunities">
        <ng-template ngbPanelContent>
          <div *ngFor="let item of myOpportunities">
            <div *ngFor="let stat of item | keyvalue">
              {{stat.key}}: {{stat.value}}
            </div>
            <hr />
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
