<app-partner-sidebar (opportunityCreateEmitter)="openCreationForm()" (myOpportunitiesEmitter)="openMyOpportunities()"
  (innerSection)="section">
  <div *ngIf="section=='new_opportunity'">
    <div style="display: flex; justify-content:center;">
      <app-community-partner-opportunity-creation-form [id]="form"
        (updateMyOpportunities)="getOpportunitiesByPartnerID(1)" />
    </div>
  </div>
  <div *ngIf="section=='my_opportunities'" style="padding: 5%">
    <h2>
      My Opportunities
    </h2>
    <!-- Add the new header here -->
    <div style="margin-top: 10px; text-align: center;">
      Click on the table to view or edit an opportunity

      <div style="padding-left: 23%">
        <table style="padding-left:50%;">
          <tr>
            <th *ngFor="let data of this.myOpportunities[0] | keyvalue">
              {{data.key.toUpperCase()}}
            </th>
          </tr>
          <tr *ngFor="let data of this.myOpportunities" (click)="selectOpportunity(data)">
            <td *ngFor="let info of data | keyvalue">
              {{info.value}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="section=='opportunity_edit'">
    <app-community-partner-opportunity-view [id]="selectedOpportunity" (update)="getOpportunitiesByPartnerID(1)" />
  </div>
</app-partner-sidebar>
