<h1>
  My Opportunities
</h1>
<h2 style="font-size: smaller; text-align: center; margin-top: 5px;">
  Click on the table to view opportunity information
</h2>
<table cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <tr>
    <th *ngFor="let data of opportunities[0] | keyvalue">
      {{data.key}}
    </th>
  </tr>

  <tr *ngFor="let data of opportunities" (click)="selectOpportunity(data)" routerLinkActive="active" cdkDrag>
    <td *ngFor="let info of data | keyvalue">
      {{info.value}}
    </td>
  </tr>
</table>
