
.navbar-dark .nav-item .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
	border-radius: 0.25rem;
	color: #fff;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Oswald', sans-serif;
}
h4{
	color: black;
}

form{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	/*float: right;*/
	padding-right: 50px;
}


.btn{

	background-color: #0099f6;
}

.header{
	background-color: #0099f6;
	color: white;
	padding-left: 50px;
}




button{

	/* width: 300px; */
	background-color: #000;
	color: white;
	border: none;
	/* height: 42px; */
	padding-top: 6px;
	box-sizing:border-box;
}

input{
	max-width: 280px;
	height: 42px;
	font-size: 18px;
	padding-left: 10px;
	color: #000;
	display: block;
	float: left;
	box-sizing:border-box;

}
