<!-- ***app.component.html-->

<app-banner></app-banner>
<!-- Toolbar -->
<!---->
<!-- <div class="header"> -->
<!--   <header style="position:sticky; top: 10px; text-align: center; "> -->
<!--     <div> -->
<!--       <button routerLink="/community_partner_view" routerLinkActive="active" areaCurrentWhenActive="page"> -->
<!--         community view -->
<!--       </button> -->
<!--       <button routerLink="/student_view" routerLinkActive="active" areaCurrentWhenActive="page">student view</button> -->
<!--     </div> -->
<!--   </header> -->
<!-- </div> -->
<!---->


<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
