<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" role="region">
      <mat-icon fontIcon="folder" (click)="expand(0)" />
      <mat-divider />
      <mat-icon fontIcon="book" (click)="expand(1)" />
    </mat-sidenav>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" [opened]="expanded" (click)="emitChooser().emit()">
        <p *ngIf="icons[0]">
          My Opportunities
        </p>
  
        <p *ngIf="icons[1]">
          Create Opportunity
        </p>
  
      </mat-drawer>
      <mat-drawer-content>
        <div (click)="expand('clear')">
          <ng-content></ng-content>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-container>
  