<mat-sidenav-container style="border-color:#d7d3cc; height: 80vh;">
  <mat-sidenav #sidenav mode="side" opened="true" role="region" class="sidebar">
    <mat-icon fontIcon="{{expanded?'none':'menu'}}" (click)="expand()"
      style="size: 150%;cursor: pointer ; background-color: #ffffff" />
  </mat-sidenav>
  <mat-drawer-container class="sidebar" style="height:100%;">

    <mat-drawer mode="side" [opened]="expanded" class="sidebar">
      <hr />
      <span (click)="emitChooser(0).emit()">
        <p class="sidebar-p">
          My Opportunities
        </p>
      </span>

      <hr />
      <span (click)="emitChooser(1).emit()">
        <p class="sidebar-p">
          Create Opportunity
        </p>
      </span>

      <hr />
    </mat-drawer>
    <mat-drawer-content style="height:100%;">
      <div (click)="expand(1)" style="height:100%;">
        <ng-content></ng-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
