<div *ngIf="!loggedIn">
  email
  <input type="text" class="form-control" id="email" required [(ngModel)]="email">


  password
  <input type="text" class="form-control" id="password" required [(ngModel)]="password">


  <button (click)="login()">
    Login
  </button>
</div>

<!-- <div *ngIf="role==0 && loggedIn"> -->
<!---->
<!--   <app-student-view></app-student-view> -->
<!---->
<!-- </div> -->

<!-- <div *ngIf="role==1 && loggedIn"> -->
<!--   <app-community-partner-view></app-community-partner-view> -->
<!-- </div> -->
