<div style="padding: 10%">
  <input type="text" class="form-control" id="searchString" required [(ngModel)]="searchString" (input)="filter()">
  {{searchString}}
  <table>
    <tr>
      <th *ngFor="let data of this.filteredOpportunities[0] | keyvalue">
        {{data.key}}
      </th>
    </tr>

    <tr *ngFor="let data of this.filteredOpportunities" [routerLink]="['/student_view/opportunity_view/',data.id]"
      routerLinkActive="active">
      <td *ngFor="let info of data | keyvalue">
        {{info.value}}
      </td>
    </tr>
  </table>
</div>
