<!-- <div class="navbar-dark" style="text-align: center"> -->
<!--   <button (click)="section='search_form'">Search Opportunities</button> -->
<!--   <button (click)="section='my_opportunities'"> my opportunities</button> -->
<!-- </div> -->

<div class="generic-form-container">
  <div *ngIf="section=='search_form'">
    <h1>Search Opportunities</h1>
    <p style="font-size: smaller;">Search by keywords for opportunities not yet signed up for</p>
    <input type="text" class="form-control" id="searchString" required [(ngModel)]="searchString" (input)="filter()">
    <table>
      <tr>
        <th *ngFor="let data of this.filteredOpportunities[0] | keyvalue">
          {{data.key.toUpperCase()}}
        </th>
      </tr>

      <tr *ngFor="let data of this.filteredOpportunities" (click)="selectOpportunity(data.id,true)"
        routerLinkActive="active">
        <td *ngFor="let info of data | keyvalue">
          {{info.value}}
        </td>
      </tr>
    </table>
  </div>

  <app-student-opportunity-view *ngIf="section=='opportunity_view'" [id]="selectedOpportunity" [signup]="signup"
    (submittedEmitter)="ngOnInit();section='my_opportunities';" />

  <app-signed-up-opportunities *ngIf="section=='my_opportunities'" (select)="selectOpportunity($event.id)"
    [opportunities]="signedUpOpportunities" />
</div>
