<hr />
description
<div>
  <input style="height: 18ch;width:50ch" class="form-control" id="email" required [(ngModel)]="info.description"
    name="email">
</div>
keywords
<div>
  <input type="text" class="form-control" id="password" required [(ngModel)]="info.keywords" name="keywords">
</div>

<mat-form-field>
  <input [(ngModel)]="info.date" matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button (click)="onSubmit()">Submit</button>
