<div style="padding-left: 30%; padding-right: 30%">
  title
  <input type="text" class="form-control" id="title" required [(ngModel)]="title">
  email
  <input type="text" class="form-control" id="email" required [(ngModel)]="email">
  password
  <div style="display: flex;flex-direction: row">
    <input [type]="showPassword? 'text':'password'" class="form-control" required [(ngModel)]="password"
      style="float:left">
    <button (mousedown)="toggleShowPassword()" (mouseup)="toggleShowPassword()" (mouseout)="showPassword=false"
      style="background-color: transparent; border-color:transparent;">
      <mat-icon fontIcon="remove_red_eye"></mat-icon>
    </button>
  </div>
  <button (click)="register()">
    Register
  </button>
</div>
